
{% comment %} Wholesale_Hub_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = product.selected_or_first_available_variant %}
{% assign WCNonFractionalCurrencies = "AFN, ALL, BIF, CLP, DJF, GNF, ISK, JPY, KMF, KRW, LAK, LBP, MGA, MMK, PYG, RSD, RWF, SLL, STD, UGX, VND, VUV, XAF, XOF, XPF, YER" | split: ", "%}

{% assign WCCartUsingNonFractionalCurrency = false %}
{% for non_fractional_currency in WCNonFractionalCurrencies %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: non_fractional_currency %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

  {% if cart.currency.iso_code == non_fractional_currency %}
    {% assign WCCartUsingNonFractionalCurrency = true %}
  {% endif %}
{% endfor %}


{% assign WCCartUsingSecondaryMarketDiscount = false %}
{% unless shop.metafields.sawholesale.primary_market_id == blank %}
  {% if localization.market.id != shop.metafields.sawholesale.primary_market_id %}
    {% assign WCCartUsingSecondaryMarketDiscount = true %}
  {% endif %}
{% endunless%}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == false %}
  {% for mf in base_product.metafields.sawholesale %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: mf %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == true %}
  {% for collection in base_product.collections %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: collection %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% for discount in collection.metafields.sawholesale.discounts.value %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: discount %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

      {% if customer.tags contains discount.tag %}
        {% assign saw_has_discount = true %}
        {% assign this_discount = discount.discount_percent | divided_by: 100.0 %}
        {% if this_discount > saw_discount %}{% assign saw_discount = this_discount %}{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% comment %}
  Rather than calculating the percentage remaining after a discount the secondary
  markets logic uses the raw discount percentage to calculate the saw_variant_price
  For a 10% discount:
    In the primary market the saw_discount would be: 90%
    In the secondary market the saw_discount would be: 10%
{% endcomment %}
{% unless WCCartUsingSecondaryMarketDiscount %}
  {% assign saw_discount = 1 | minus: saw_discount %}
{% endunless %}

{% if WCCartUsingSecondaryMarketDiscount == true or base_price == 'price' or base_variant.compare_at_price == blank or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}

{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% comment %}
    For a 10% discount on a variant price of 100:
      In the primary market the saw_variant_price would be: 100 * 0.90 = 90
      In the secondary market the saw_variant_price would be: 100 * 0.10 = 10
      So saw_variant_price is not made available to the global scope in a secondary
      market. Doing so might cause strange behaviour if not properly accounted for.
  {% endcomment %}
  {% if WCCartUsingSecondaryMarketDiscount %}
    {% assign WCVariant_DiscountAmount = saw_variant_compare_at_price | times: saw_discount %}
  {% else %}
    {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
    {% assign WCVariant_DiscountAmount = 0 %}
  {% endif %}
{% endif %}
{% if WCCartUsingSecondaryMarketDiscount %}
  {% assign WCVariant_Price = saw_variant_compare_at_price %}
{% else %}
  {% assign WCVariant_Price = saw_variant_price %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}
  {% assign WCProduct_Price =  WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Hub_Product_Prices End {% endcomment %}
{% comment %}
  Parameters:
  - product {Object} - Product object.
  - product_form_id {String} - Product form ID.
  - media_ratio {Number} - Media aspect ratio.
  - block {Object} - Block object.
  - dynamic_availability_mode {String} - Dynamic availability mode, 'selection' or 'down', default is 'selection'.

  Dependencies:
  - Custom select component

  Usage:
  {% render 'variant-picker', product: product, product_form_id: product_form_id, block: block %}
{% endcomment %}

{%- unless product.has_only_default_variant -%}
  {%- if product.variants.size > 1 or block.settings.show_single -%}
    <script src="{{ 'variant-picker.js' | asset_url }}" defer></script>

    <variant-picker
        class="no-js-hidden"
        data-url="{{ product.url }}"
        data-update-url="{{ update_url | default: false }}"
        data-availability="{{ block.settings.dynamic_availability }}"
        data-availability-mode="{{ dynamic_availability_mode | default: 'selection' }}">
      {%- for option in product.options_with_values -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: option %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

        {%- capture option_id %}{{ product_form_id }}-{{ forloop.index }}{% endcapture -%}
        {%- liquid
          assign is_color_selector = false
          assign is_variant_image_style = false
          assign show_size_chart = false
          assign is_dropdown = false

          if settings.swatch_source == 'theme' and settings.swatch_option_name contains option.name and settings.swatch_method == 'variant-images'
            assign is_color_selector = true
            assign is_variant_image_style = true
            assign option_index0 = forloop.index0
          elsif settings.swatch_source == 'theme' and settings.swatch_option_name contains option.name and settings.swatch_method == 'swatches'
            assign is_color_selector = true
          else
            assign native_swatch_options = option.values | where: 'swatch'
            if settings.swatch_source == 'native' and native_swatch_options.size > 0
              assign is_color_selector = true
              assign is_native_swatch_style = true
            endif
          endif

          if is_variant_image_style or is_native_swatch_style
            assign img_sizes = settings.swatch_picker_image_size | append: 'px'
            assign img_widths = settings.swatch_picker_image_size | times: 2 | append: ', ' | append: settings.swatch_picker_image_size
            if settings.swatch_style == 'icon_square'
              assign img_aspect_ratio = null
              assign img_crop_align = null
            else
              assign img_aspect_ratio = 1
              assign img_crop_align = settings.swatch_crop_align
            endif
          endif

          if is_color_selector
            if settings.swatch_style == 'dropdown'
              assign is_dropdown = true
            endif
          elsif block.settings.selector_style == 'dropdown'
            assign is_dropdown = true
          endif

          if block.settings.enable_size_chart and block.settings.size_chart_variant == option.name and block.settings.size_chart_page != blank
            assign show_size_chart = true
          endif
        -%}

        {%- if show_size_chart -%}
          {%- capture size_chart_link -%}
            <modal-opener class="no-js-hidden" data-modal="size-chart-{{ product.id }}-{{ section.id }}">
              <button type="button" class="link block text-sm size-chart-link" aria-haspopup="dialog">
                <span class="size-chart-link__icon">{%- render 'icon', icon: 'ruler', size: 'small' -%}</span>
                <span class="size-chart-link__text underline">{{- block.settings.size_chart_label -}}</span>
              </button>
            </modal-opener>
            <noscript>
              <a href="{{ block.settings.size_chart_page.url }}" class="link">{{ block.settings.size_chart_label }}</a>
            </noscript>
          {%- endcapture -%}
        {%- endif -%}

        {%- if is_dropdown -%}
          {%- if is_variant_image_style -%}
            <style>
              {%- for value in option.values -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: value %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

                {%- for variant in product.variants -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: variant %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

{% comment %} Wholesale_Hub_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = variant %}
{% assign WCNonFractionalCurrencies = "AFN, ALL, BIF, CLP, DJF, GNF, ISK, JPY, KMF, KRW, LAK, LBP, MGA, MMK, PYG, RSD, RWF, SLL, STD, UGX, VND, VUV, XAF, XOF, XPF, YER" | split: ", "%}

{% assign WCCartUsingNonFractionalCurrency = false %}
{% for non_fractional_currency in WCNonFractionalCurrencies %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: non_fractional_currency %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

  {% if cart.currency.iso_code == non_fractional_currency %}
    {% assign WCCartUsingNonFractionalCurrency = true %}
  {% endif %}
{% endfor %}


{% assign WCCartUsingSecondaryMarketDiscount = false %}
{% unless shop.metafields.sawholesale.primary_market_id == blank %}
  {% if localization.market.id != shop.metafields.sawholesale.primary_market_id %}
    {% assign WCCartUsingSecondaryMarketDiscount = true %}
  {% endif %}
{% endunless%}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == false %}
  {% for mf in base_product.metafields.sawholesale %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: mf %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == true %}
  {% for collection in base_product.collections %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: collection %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% for discount in collection.metafields.sawholesale.discounts.value %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: discount %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

      {% if customer.tags contains discount.tag %}
        {% assign saw_has_discount = true %}
        {% assign this_discount = discount.discount_percent | divided_by: 100.0 %}
        {% if this_discount > saw_discount %}{% assign saw_discount = this_discount %}{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% comment %}
  Rather than calculating the percentage remaining after a discount the secondary
  markets logic uses the raw discount percentage to calculate the saw_variant_price
  For a 10% discount:
    In the primary market the saw_discount would be: 90%
    In the secondary market the saw_discount would be: 10%
{% endcomment %}
{% unless WCCartUsingSecondaryMarketDiscount %}
  {% assign saw_discount = 1 | minus: saw_discount %}
{% endunless %}

{% if WCCartUsingSecondaryMarketDiscount == true or base_price == 'price' or base_variant.compare_at_price == blank or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}

{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% comment %}
    For a 10% discount on a variant price of 100:
      In the primary market the saw_variant_price would be: 100 * 0.90 = 90
      In the secondary market the saw_variant_price would be: 100 * 0.10 = 10
      So saw_variant_price is not made available to the global scope in a secondary
      market. Doing so might cause strange behaviour if not properly accounted for.
  {% endcomment %}
  {% if WCCartUsingSecondaryMarketDiscount %}
    {% assign WCVariant_DiscountAmount = saw_variant_compare_at_price | times: saw_discount %}
  {% else %}
    {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
    {% assign WCVariant_DiscountAmount = 0 %}
  {% endif %}
{% endif %}
{% if WCCartUsingSecondaryMarketDiscount %}
  {% assign WCVariant_Price = saw_variant_compare_at_price %}
{% else %}
  {% assign WCVariant_Price = saw_variant_price %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}
  {% assign WCProduct_Price =  WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Hub_Product_Prices End {% endcomment %}

                  {%- if variant.options[option_index0] == value -%}
                    #{{ option_id }} [data-swatch="{{ value | replace: '"', '\"' | downcase }}"] {
                      --swatch-background-color: transparent;
                      --swatch-background-image: url({{ variant.featured_media | image_url: width: 40, height: 40, crop: settings.swatch_crop_align }});
                    }
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            </style>
          {%- endif -%}
          {%- capture selector_label -%}
            <label class="label" id="{{ option_id }}-label">{{- option.name -}}</label>
          {%- endcapture -%}
          <div class="option-selector" data-selector-type="dropdown" data-option="{{ option.name | escape }}">
            {%- if show_size_chart -%}
              <div class="flex justify-between">
                {{ selector_label }}
                {{ size_chart_link }}
              </div>
            {%- else -%}
              {{ selector_label }}
            {%- endif -%}
            {%- liquid
              if section.settings.select_first_variant or product.variants.size == 1
                assign selected_value = option.selected_value
              else
                if product.selected_variant
                  assign selected_value = option.selected_value
                else
                  assign selected_value = ''
                endif
              endif
            -%}
            <script src="{{ 'custom-select.js' | asset_url }}" defer></script>
            {% render 'custom-select',
              id: option_id,
              option_values: option.values,
              selected_value: selected_value,
              swatches: is_color_selector,
              native_swatches: is_native_swatch_style
            %}
          </div>
        {%- else -%}
          <fieldset class="option-selector" data-selector-type="listed" data-option="{{ option.name | escape }}">
            {%- if show_size_chart -%}
              <div class="flex justify-between">
                <legend class="label">{{- option.name -}}</legend>
                {{ size_chart_link }}
              </div>
            {%- else -%}
              <legend class="label">{{- option.name -}}{% if is_color_selector %}: <span class="option-selector__label-value js-color-text">{% if section.settings.select_first_variant or product.variants.size == 1 or product.selected_variant %}{{ option.selected_value }}{% endif %}</span>{% endif %}</legend>
            {%- endif -%}
            <div class="option-selector__btns flex flex-wrap">
              {%- for value in option.values -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: value %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

                {%- assign value_index0 = forloop.index0 -%}
                <input type="radio" class="opt-btn visually-hidden focus-label js-option" name="{{ option_id }}-option" id="{{ option_id }}-opt-{{ value_index0 }}" value="{{ value | escape }}" required{% if section.settings.select_first_variant or product.variants.size == 1 or product.selected_variant %}{% if option.selected_value == value %} checked{% endif %}{% endif %}>
                {%- if is_variant_image_style -%}
                  {%- for variant in product.variants -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: variant %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

{% comment %} Wholesale_Hub_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = variant %}
{% assign WCNonFractionalCurrencies = "AFN, ALL, BIF, CLP, DJF, GNF, ISK, JPY, KMF, KRW, LAK, LBP, MGA, MMK, PYG, RSD, RWF, SLL, STD, UGX, VND, VUV, XAF, XOF, XPF, YER" | split: ", "%}

{% assign WCCartUsingNonFractionalCurrency = false %}
{% for non_fractional_currency in WCNonFractionalCurrencies %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: non_fractional_currency %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

  {% if cart.currency.iso_code == non_fractional_currency %}
    {% assign WCCartUsingNonFractionalCurrency = true %}
  {% endif %}
{% endfor %}


{% assign WCCartUsingSecondaryMarketDiscount = false %}
{% unless shop.metafields.sawholesale.primary_market_id == blank %}
  {% if localization.market.id != shop.metafields.sawholesale.primary_market_id %}
    {% assign WCCartUsingSecondaryMarketDiscount = true %}
  {% endif %}
{% endunless%}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == false %}
  {% for mf in base_product.metafields.sawholesale %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: mf %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == true %}
  {% for collection in base_product.collections %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: collection %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% for discount in collection.metafields.sawholesale.discounts.value %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: discount %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

      {% if customer.tags contains discount.tag %}
        {% assign saw_has_discount = true %}
        {% assign this_discount = discount.discount_percent | divided_by: 100.0 %}
        {% if this_discount > saw_discount %}{% assign saw_discount = this_discount %}{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% comment %}
  Rather than calculating the percentage remaining after a discount the secondary
  markets logic uses the raw discount percentage to calculate the saw_variant_price
  For a 10% discount:
    In the primary market the saw_discount would be: 90%
    In the secondary market the saw_discount would be: 10%
{% endcomment %}
{% unless WCCartUsingSecondaryMarketDiscount %}
  {% assign saw_discount = 1 | minus: saw_discount %}
{% endunless %}

{% if WCCartUsingSecondaryMarketDiscount == true or base_price == 'price' or base_variant.compare_at_price == blank or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}

{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% comment %}
    For a 10% discount on a variant price of 100:
      In the primary market the saw_variant_price would be: 100 * 0.90 = 90
      In the secondary market the saw_variant_price would be: 100 * 0.10 = 10
      So saw_variant_price is not made available to the global scope in a secondary
      market. Doing so might cause strange behaviour if not properly accounted for.
  {% endcomment %}
  {% if WCCartUsingSecondaryMarketDiscount %}
    {% assign WCVariant_DiscountAmount = saw_variant_compare_at_price | times: saw_discount %}
  {% else %}
    {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
    {% assign WCVariant_DiscountAmount = 0 %}
  {% endif %}
{% endif %}
{% if WCCartUsingSecondaryMarketDiscount %}
  {% assign WCVariant_Price = saw_variant_compare_at_price %}
{% else %}
  {% assign WCVariant_Price = saw_variant_price %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}
  {% assign WCProduct_Price =  WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Hub_Product_Prices End {% endcomment %}

                    {%- if variant.options[option_index0] == value -%}
                      <label class="opt-label opt-label--image" for="{{ option_id }}-opt-{{ value_index0 }}">
                        <div class="opt-label__media media">
                          {%- render 'image',
                            image: variant.featured_media,
                            sizes: img_sizes,
                            widths: img_widths,
                            custom_aspect_ratio: img_aspect_ratio,
                            custom_crop: img_crop_align
                          -%}
                        </div>
                        <span class="{% if settings.swatch_style != 'listed' %}visually-hidden {% endif %}js-value">{{ value }}</span>
                      </label>
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- elsif settings.swatch_source == 'native' and value.swatch.image -%}
                  <label class="opt-label opt-label--image" for="{{ option_id }}-opt-{{ value_index0 }}">
                    <div class="opt-label__media media">
                      {%- render 'image',
                        image: value.swatch.image,
                        sizes: img_sizes,
                        widths: img_widths,
                        custom_aspect_ratio: img_aspect_ratio,
                        custom_crop: img_crop_align
                      -%}
                    </div>
                    <span class="{% if settings.swatch_style != 'listed' %}visually-hidden {% endif %}js-value">{{ value }}</span>
                  </label>

                {%- elsif settings.swatch_source == 'native' and value.swatch.color -%}
                  <label class="opt-label opt-label--swatch btn relative"
                    data-swatch="{{ value | replace: '"', '' | downcase }}"
                    for="{{ option_id }}-opt-{{ value_index0 }}"
                    style="--swatch-background-color: rgb({{ value.swatch.color.rgb }})">
                    <span class="{% if settings.swatch_style != 'listed' %}visually-hidden {% endif %}js-value">{{ value }}</span>
                  </label>

                {%- else -%}
                  {%- liquid
                    assign is_swatch = false
                    if is_color_selector and settings.swatch_method == 'swatches'
                      assign is_swatch = true
                    endif
                  -%}
                  <label class="opt-label {% if is_swatch %}opt-label--swatch{% else %}opt-label--btn{% endif %} btn relative text-center"{% if is_swatch %}
                    data-swatch="{{ value | replace: '"', '' | downcase }}"{% endif %}
                    for="{{ option_id }}-opt-{{ value_index0 }}">
                    <span class="{% if is_swatch and settings.swatch_style != 'listed' %}visually-hidden {% endif %}js-value">{{ value }}</span>
                  </label>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </fieldset>
        {%- endif -%}
      {%- endfor -%}

      <script type="application/json">
        {"variants": {{- product.variants | json -}},"formatted": {
          {%- for variant in product.variants -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: variant %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

{% comment %} Wholesale_Hub_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = variant %}
{% assign WCNonFractionalCurrencies = "AFN, ALL, BIF, CLP, DJF, GNF, ISK, JPY, KMF, KRW, LAK, LBP, MGA, MMK, PYG, RSD, RWF, SLL, STD, UGX, VND, VUV, XAF, XOF, XPF, YER" | split: ", "%}

{% assign WCCartUsingNonFractionalCurrency = false %}
{% for non_fractional_currency in WCNonFractionalCurrencies %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: non_fractional_currency %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

  {% if cart.currency.iso_code == non_fractional_currency %}
    {% assign WCCartUsingNonFractionalCurrency = true %}
  {% endif %}
{% endfor %}


{% assign WCCartUsingSecondaryMarketDiscount = false %}
{% unless shop.metafields.sawholesale.primary_market_id == blank %}
  {% if localization.market.id != shop.metafields.sawholesale.primary_market_id %}
    {% assign WCCartUsingSecondaryMarketDiscount = true %}
  {% endif %}
{% endunless%}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == false %}
  {% for mf in base_product.metafields.sawholesale %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: mf %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == true %}
  {% for collection in base_product.collections %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: collection %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

    {% for discount in collection.metafields.sawholesale.discounts.value %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: discount %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

      {% if customer.tags contains discount.tag %}
        {% assign saw_has_discount = true %}
        {% assign this_discount = discount.discount_percent | divided_by: 100.0 %}
        {% if this_discount > saw_discount %}{% assign saw_discount = this_discount %}{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% comment %}
  Rather than calculating the percentage remaining after a discount the secondary
  markets logic uses the raw discount percentage to calculate the saw_variant_price
  For a 10% discount:
    In the primary market the saw_discount would be: 90%
    In the secondary market the saw_discount would be: 10%
{% endcomment %}
{% unless WCCartUsingSecondaryMarketDiscount %}
  {% assign saw_discount = 1 | minus: saw_discount %}
{% endunless %}

{% if WCCartUsingSecondaryMarketDiscount == true or base_price == 'price' or base_variant.compare_at_price == blank or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}

{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% comment %}
    For a 10% discount on a variant price of 100:
      In the primary market the saw_variant_price would be: 100 * 0.90 = 90
      In the secondary market the saw_variant_price would be: 100 * 0.10 = 10
      So saw_variant_price is not made available to the global scope in a secondary
      market. Doing so might cause strange behaviour if not properly accounted for.
  {% endcomment %}
  {% if WCCartUsingSecondaryMarketDiscount %}
    {% assign WCVariant_DiscountAmount = saw_variant_compare_at_price | times: saw_discount %}
  {% else %}
    {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
    {% assign WCVariant_DiscountAmount = 0 %}
  {% endif %}
{% endif %}
{% if WCCartUsingSecondaryMarketDiscount %}
  {% assign WCVariant_Price = saw_variant_compare_at_price %}
{% else %}
  {% assign WCVariant_Price = saw_variant_price %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}
  {% assign WCProduct_Price =  WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = WCVariant_Price | minus: WCVariant_DiscountAmount %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Hub_Product_Prices End {% endcomment %}

            "{{ variant.id }}":{"price":{% if settings.product_currency_code_enabled %}{{ WCProduct_VariantPrice | money_with_currency | json }}{% else %}{{ WCProduct_VariantPrice | money | json }}{% endif %}
              {%- if WCProduct_VariantComparePrice > WCProduct_VariantPrice -%}
                ,"compareAtPrice":{{ WCProduct_VariantComparePrice | money | json -}}
              {%- endif -%}
              {%- if variant.unit_price_measurement -%}
                ,"unitPrice":{{ variant.unit_price | money | json -}}
              {%- endif -%}
              {%- if variant.inventory_management != nil and variant.inventory_quantity <= 0 -%}
                ,"inventory":"none"
              {%- endif -%}
            }{%- unless forloop.last %},{% endunless -%}
          {%- endfor -%}
        }}
      </script>
    </variant-picker>

    <noscript>
      <div class="product-info__select"{% if product.has_only_default_variant %} hidden{% endif %}>
        <label class="label" for="variants-{{ product.id }}-{{ section.id }}">
          {{- 'products.product.product_variants' | t -}}
        </label>
        <div class="select relative">
          <select class="select w-full" id="variants-{{ product.id }}-{{ section.id }}" name="id" form="{{ product_form_id }}">
            {%- for variant in product.variants -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
              {%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: variant %}{%- endcapture -%}
              {%- if hide_resource == "true" -%}
                {% continue %}
              {%- endif -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}
              
              {% comment %} Wholesale_Hub_Product_Prices Start {% endcomment %}
              {% assign base_product = product %}
              {% assign base_variant = variant %}
              {% assign WCNonFractionalCurrencies = "AFN, ALL, BIF, CLP, DJF, GNF, ISK, JPY, KMF, KRW, LAK, LBP, MGA, MMK, PYG, RSD, RWF, SLL, STD, UGX, VND, VUV, XAF, XOF, XPF, YER" | split: ", "%}
              
              {% assign WCCartUsingNonFractionalCurrency = false %}
              {% for non_fractional_currency in WCNonFractionalCurrencies %}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
              {%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: non_fractional_currency %}{%- endcapture -%}
              {%- if hide_resource == "true" -%}
                {% continue %}
              {%- endif -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}
              
                {% if cart.currency.iso_code == non_fractional_currency %}
                  {% assign WCCartUsingNonFractionalCurrency = true %}
                {% endif %}
              {% endfor %}
              
              
              {% assign WCCartUsingSecondaryMarketDiscount = false %}
              {% unless shop.metafields.sawholesale.primary_market_id == blank %}
                {% if localization.market.id != shop.metafields.sawholesale.primary_market_id %}
                  {% assign WCCartUsingSecondaryMarketDiscount = true %}
                {% endif %}
              {% endunless%}
              
              {% if shop.metafields.sawholesale['base_price'] == blank %}
                {% assign base_price = 'compare_at_price' %}
              {% else %}
                {% assign base_price = shop.metafields.sawholesale['base_price'] %}
              {% endif %}
              
              {% assign saw_discount = 0 %}{% assign saw_has_discount = false %}
              
              {% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == false %}
                {% for mf in base_product.metafields.sawholesale %}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
              {%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: mf %}{%- endcapture -%}
              {%- if hide_resource == "true" -%}
                {% continue %}
              {%- endif -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}
              
                  {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
                  {% if customer.tags contains product_customer_tag %}
                    {% assign saw_has_discount = true %}
                    {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
                    {% assign price_key = product_customer_tag | prepend: 'price_' %}
                    {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              
              {% if customer.tags != blank and WCCartUsingSecondaryMarketDiscount == true %}
                {% for collection in base_product.collections %}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
              {%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: collection %}{%- endcapture -%}
              {%- if hide_resource == "true" -%}
                {% continue %}
              {%- endif -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}
              
                  {% for discount in collection.metafields.sawholesale.discounts.value %}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
              {%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: discount %}{%- endcapture -%}
              {%- if hide_resource == "true" -%}
                {% continue %}
              {%- endif -%}
              {%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}
              
                    {% if customer.tags contains discount.tag %}
                      {% assign saw_has_discount = true %}
                      {% assign this_discount = discount.discount_percent | divided_by: 100.0 %}
                      {% if this_discount > saw_discount %}{% assign saw_discount = this_discount %}{% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
              
              {% comment %}
                Rather than calculating the percentage remaining after a discount the secondary
                markets logic uses the raw discount percentage to calculate the saw_variant_price
                For a 10% discount:
                  In the primary market the saw_discount would be: 90%
                  In the secondary market the saw_discount would be: 10%
              {% endcomment %}
              {% unless WCCartUsingSecondaryMarketDiscount %}
                {% assign saw_discount = 1 | minus: saw_discount %}
              {% endunless %}
              
              {% if WCCartUsingSecondaryMarketDiscount == true or base_price == 'price' or base_variant.compare_at_price == blank or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
                {% assign saw_variant_compare_at_price = base_variant.price %}
              {% else %}
                {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
              {% endif %}
              
              {% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
              
              {% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
                {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
              {% else %}
                {% comment %}
                  For a 10% discount on a variant price of 100:
                    In the primary market the saw_variant_price would be: 100 * 0.90 = 90
                    In the secondary market the saw_variant_price would be: 100 * 0.10 = 10
                    So saw_variant_price is not made available to the global scope in a secondary
                    market. Doing so might cause strange behaviour if not properly accounted for.
                {% endcomment %}
                {% if WCCartUsingSecondaryMarketDiscount %}
                  {% assign WCVariant_DiscountAmount = saw_variant_compare_at_price | times: saw_discount %}
                {% else %}
                  {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
                  {% assign WCVariant_DiscountAmount = 0 %}
                {% endif %}
              {% endif %}
              {% if WCCartUsingSecondaryMarketDiscount %}
                {% assign WCVariant_Price = saw_variant_compare_at_price %}
              {% else %}
                {% assign WCVariant_Price = saw_variant_price %}
              {% endif %}
              
              {% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
                {% assign WCProduct_Price = base_product.price %}
                {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
                {% assign WCProduct_PriceMin = base_product.price_min %}
                {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
                {% assign WCProduct_PriceMax = base_product.price_max %}
                {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
                {% assign WCProduct_VariantPrice = base_variant.price %}
                {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
              {% else %}
                {% assign WCProduct_Price =  WCVariant_Price | minus: WCVariant_DiscountAmount %}
                {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
                {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
                {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
                {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
                {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
                {% assign WCProduct_VariantPrice = WCVariant_Price | minus: WCVariant_DiscountAmount %}
                {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
              {% endif %}
              {% comment %} Wholesale_Hub_Product_Prices End {% endcomment %}

              <option value="{{ variant.id }}"
                      {% if variant == current_variant %}selected{% endif %}
                      {% if variant.available == false %}disabled{% endif %}>
                {{- variant.title -}}
                {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                - {{ WCProduct_VariantPrice | money | strip_html }}
              </option>
            {%- endfor -%}
          </select>
        </div>
      </div>
    </noscript>
  {%- endif -%}
{%- endunless -%}
